<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.test">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/NoTitleTheme">
        <activity
            android:name=".Main2Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyMusicSercive" />
        <service android:name=".service.MusicPlayService" />
        <service android:name=".service.ReceiverService" />
        <service android:name=".service.MyTestService" />

        <receiver android:name=".receiver.MyAuto2Receiver" />
        <receiver android:name=".receiver.MyAutoReceiver" />
        <receiver
            android:name=".receiver.MyStatic2Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="MY_BROADCAST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.example.administrator.test.provider.myContentProvider"
            android:exported="true" />

        <activity android:name=".MusicPlayShowActivity" />
        <activity android:name=".MyWebActivity"></activity>
    </application>

</manifest>